body{
    padding: 0px;
    margin: 0px;
    background-image: url("../img/pattern.jpg");
}
header{
    position: sticky;
    top: 0;
    background-color: white;
}
header img{
    width: 50px;
}
header nav{
    float: right;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline;
}
header nav ul a{
    margin: 10px;
    text-decoration: none;
}
section{
    margin: 50px auto 0px auto;
    width: 70%;
    background-color: white;
    padding: 25px;
}
section h1{
    text-align: center;
}
section div article{
    border-bottom: 2px solid black;
}
section div article a{
    text-decoration: none;
    color: purple;
}
footer{
    padding: 2px;
    background-color: black;
    color: white;
    text-align: center;
}
